@import url('https://fonts.googleapis.com/css2?family=Anton&family=Quicksand:wght@300&family=Sigmar+One&family=Exo+2:wght@800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}